{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}
  <div class="container" style="margin-top: 100px">
    <div class="card-deck">
  <div class="card">
    <img src="{% static 'mysite/images/front.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Front End Development</h5>
      <p class="card-text">Build few descent projects using HTML,CSS,JavaScript and JQuery</p>
      <p class="card-text"><small class="text-muted">Github Link will be shared soon</small></p>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'mysite/images/django.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Django</h5>
      <p class="card-text">Indulged into web development with very awesome framework. Build a couple of projects in it.</p>
      <p class="card-text"><small class="text-muted">Github Link will be shared soon</small></p>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'mysite/images/ml.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Machine Learning</h5>
      <p class="card-text">It is an on-going phase. Still learnin it.</p>
      <p class="card-text"><small class="text-muted">Github Link will be shared soon</small></p>
    </div>
  </div>
</div>
  </div>

{% endblock %}
